.nav-links__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links__list li {
    margin: 0 12px;
}

.nav-links__list a {
    display: flex;
    padding: 20px 15px;
    font-size: 18px;
    color: var(--white-color);
    font-weight: 500;
    letter-spacing: 1.2px;
    position: relative;
}

.nav-links__list li:hover > a::before  {
    width: 100%;
}

.nav-links__list a::before,
.nav-links__list a.active::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background-color: var(--yellow-color);
    height: 4px;
    border-radius: 4px;
    width: 0;
    transition: all 0.15s linear;
}

.nav-links__list a.active::before {
    width: 100%;
}