.form__input-post__product-group {
    display: flex;
    align-items: center;
}

.form__input-post__product-group .form__input-post__product-form:not(:last-child) {
    margin-right: 24px;
}

/* Upload image */
.form__input-post__product__image {
    
}