/* Footer */
.footer__header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 36px;
    margin-bottom: 36px;
}

.footer__container {
    padding: 40px 0;
    background-color: var(--dark-color);
    width: 100%;
    bottom: 0;
    z-index: 999;
}

.footer__container .footer__item .header {
    position: relative;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

.footer__container .footer__item .header::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    background-color: #fff;
    bottom: -15px;
}

.footer__item .download-app {
    display: flex;
    color: #fff;
    flex-direction: column;
}

.footer__item .download-app .download-app__item {
    padding: 15px;
    border: 1px solid #ffff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-top: 18px;
    transition: all 0.3s;
    width: 200px;
    cursor: pointer;
}

.footer__item .download-app .download-app__item:hover {
    background-color: var(--primary-color);
}

.footer__item .download-app .download-app__item .icon__download {
    font-size: 2.6rem;
    margin-right: 18px;
}

.footer__item .download-app__item-content span {
    font-size: 1.1rem;
}

.footer__item .download-app__item-content p {
    margin: 0;
    font-weight: 600;
}

.footer__item .content {
    margin-top: 40px;
}

.footer__item .content__item {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.footer__item .content__item .content__icon {
    font-size: 1.8rem;
    margin-right: 18px;
    color: var(--primary-color);
}

.footer__item .content__item .move {
    transform: translateY(-4px);
}

.footer__item .content span,
.footer__item .content a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    transition: all 0.3s;
    cursor: pointer;
}

.footer__item .content span:hover,
.footer__item .content a:hover,
.footer__bottom-left-area a:hover {
    color: var(--green-color) !important;
}

.footer__item .footer__form {
    height: 50px;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.footer__item .content_item.social {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.footer__item .content_item.social i {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #c2c2c3;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 12px;
    transition: all 0.3s;
    cursor: pointer;
}

.footer__item .content_item.social i:hover {
    border: 1px solid #c2c2c3;
}

.footer__item .footer__form input {
    background-color: #fff;
    height: 60px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0 12px;
}

.footer__item .footer__form button {
    height: 100%;
    border: none;
    height: 60px;
    color: #fff;
    font-size: 14px;
    padding: 0 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    font-weight: 600;
    transition: all 0.3s;
}

.footer__item .footer__form button:hover {
    background-color: var(--green-color);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom-left-area {
    display: flex;
    align-items: center;
    margin: 0;
}

.footer__bottom-left-area a {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff !important;
    display: block;
    margin-right: 24px;
    font-weight: 300;
    transition: all 0.3s;
    cursor: pointer;
}

.footer__bottom-right-area {
    color: #fff;
    font-size: 22px;
    display: block;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 739px) {
    * {
        font-size: 13px;
    }

    .footer__item .download-app {
        align-items: center;
    }

    .footer__bottom-left-area {
        flex-direction: column;
        text-align: center;
    }

    .content .content__item span {
        font-size: 14px;
    }

    .footer__item .content span {
        font-size: 14px;
    }

    .footer__bottom .footer__bottom-left-area {
        font-size: 16px;
    }

    .footer__bottom-right-area {
        font-size: 18px;
    }

    .footer__item .footer__form {
        height: unset;
        flex-direction: column;
    }

    .footer__item .footer__form button {
        flex: unset;
        height: 60px;
        width: 100%;
        /*font-size: 1.8rem;*/
        margin-top: 12px;
        border-radius: 5px;
    }
}


/* Mobile and Tablet */

@media (max-width: 1023px) {
    .footer__container .footer__item .header {
        margin-top: 42px;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__bottom-right-area {
        margin-top: 18px;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

    .footer__bottom-left-area a,
    .footer__bottom-right-area {
        font-size: 1.4rem;
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}