.form-wrapper {
    width: 100%;
}

.form-wrapper label {
    font-weight: 600;
    font-size: 1.6rem;
}

.form-input ,
.form-text-area {
    height: 50px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 4px 12px;
    border: 1px solid var(--border-color);
    outline: none;
}

.form-text-area {
    min-height: 100px !important;
}

.form-input.full-width ,
.form-text-area.full-width {
    width: 100%;
}

.form-input.no-border,
.form-input.no-border:focus,
.form-input.no-border:active {
    border: none;
}

.form-input:focus {
    border: 1px solid #4267B2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}