.MuiFormLabel-root.MuiInputLabel-root ,
.MuiButtonBase-root.MuiMenuItem-root {
    font-size: 1.6rem;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    font-size: 1.6rem;
    padding: 12px;
    display: flex;
    align-items: center;
}