.search-input__form {
  display: flex;
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 12px;
}

.search-input__form-group {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
}

.search-input__form .search-input__form-input {
  height: 45px;
}

.search-input__form-group .search-input__icon {
  font-size: 2.2rem;
  color: #dbdfe2;
  cursor: pointer;
  opacity: unset;
}

.search-input__form-group .search-input__icon.search__icon {
  color: #dbdfe2;
  padding: 0 8px 0 0;
}

.search-input__form-group .search-input__icon.close__icon {
  color: #000;
  padding: 0 0 0 8px;
}

.search-input__form-group .icon:hover {
  opacity: 0.8;
}

.search-input__form-group .form-input__group {
  padding: 0;
}

/* Right area */
.search-input__form-right-area {
  position: relative;
}

.search-input__form-filter {
  height: 45px;
  padding: 0 18px;
  background-color: #fff;
  border: 1px solid var(--primary-dashboard-color-ver-2);
  color: var(--primary-dashboard-color-ver-2);
  border-radius: 12px;
}

.search-input__form-filter:hover {
  opacity: 0.8;
}

.search-input__form-filter-icon {
  margin-right: 8px;
}

.search-input__form-filter span {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Popper search filter */
.popper__search-filter__container {
  position: absolute;
  top: 110%;
  right: 0;
  width: 180px;
  font-size: 1.3rem;
  text-align: left;
  background-color: #fff;
  z-index: 11;
}

.popper__search-filter-wrapper {
  padding: 12px;
}

.popper__search-filter-header {
  padding: 8px;
  border: 1px solid var(--primary-dashboard-color-ver-2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popper__search-filter-header-icon-down {
  font-size: 1.8rem;
  color: var(--primary-dashboard-color-ver-2);
}

.popper__search-filter-body {
  margin: 10px 0 0 0;
}

.popper__search-filter-body li {
  padding: 2px 0;
  transition: all 0.15s;
}

.popper__search-filter-body li:hover {
  color: var(--primary-color);
  cursor: pointer;
}
