:root {
    --primary-color: #ff3366;
    --green-color: #11b683;
    --white-color: #fff;
    --border-color: #dadada;
    --font-color: #333333;

    --danger-color: #830000;
    --dark-color: #2c2b30;
    --yellow-color: #ffec17;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    line-height: 1.4rem;
    font-family: 'Fira Code', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
}

ul {
    padding-left: 0 !important;
    margin: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

/* Content */
.section {
    padding: 100px 0;
}

/* Circle */
.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}