.product-detail__info-container h3 {
    font-size: 2.2rem;
    margin-bottom: 12px;
    font-weight: 700;
}

/* Header */
.product-detail__info-container {
    box-shadow: none;
    border: 1px solid var(--border-color);
    height: 100%;
    overflow-y: auto;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}


.product-detail__info-container .header .sub-title {
    font-size: 1.6rem;
    color: rgba(140, 145, 161, 1);
    font-weight: 300;
}

.product-detail__info-container .title {
    margin: 12px 0 8px 0;
    color: var(--font-color);
}

.product-detail__info-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-detail__info-item {
    text-align: center;
    font-size: 1.6rem;
    flex: 1;
    min-height: 125px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 12px 6px;
    word-wrap: break-word;
}

.product-detail__info-item:not(:last-child) {
    margin-right: 12px;
}

.product-detail__info-item p {
    font-weight: 500;
    margin: 8px 0 0 0;
    color: var(--primary-color);
}

/* Jump price */
.btn__jump-price {
    height: 50px;
    width: 70px;
    padding: 12px;
    background-color: var(--primary-color);
    cursor: pointer;
    outline: none;
    border: none;
    transform: all 0.2s;
}

.btn__jump-price:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn__jump-price:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn__jump-price:hover {
    opacity: 0.9;
}

.btn__jump-price .icon {
    font-size: 1.8rem;
    color: #fff;
}

.product-detail__info-container .btn__auction {
    margin-top: 22px;
    font-size: 1.8rem;
}

.product-detail__info-container .btn__auction .icon {
    font-size: 2.4rem;
    margin-right: 12px;
}

/* Footer */
.product-detail__info-container.footer {
    margin-top: 32px;
    padding: 20px;
    height: max-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}