.header__step-form-container {
    padding: 12px;
    flex: 1;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
}

.header__step-form-container.active {
    background-color: var(--dark-color);
}

.header__step-form-container.active .header__step-form-title ,
.header__step-form-container.active .header__step-form-sub {
    color: #fff;
}

.header__step-form-numbers {
    background-color: #fff;
    color: var(--dark-color);
    font-size: 2rem !important;
    font-weight: 700;
}

.header__step-form-numbers.circle {
    height: 53px;
    width: 53px;
}

.header__step-form-container .title {
    margin-left: 12px;
}

.header__step-form-title {
    margin-bottom: -5px;
    font-weight: 600;
    color: var(--font-color);
}

.header__step-form-sub {
    color: #888;
    font-size: 1.4rem;
}